nav {
  display: flex;
  align-items: center;
  height: 60px;
  background: #f0f0f0;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  margin-bottom: 30px;
}

nav h1 {
  padding-left: 30px;
  color: #4a4b4c;
  font-size: 26px;
  font-weight: 700;
}
